* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000a8;
}

#logo {
    position: absolute;
    top: 20px;
    left: 50px;
    bottom: 40px;
    width: 14%;
    overflow: hidden;
    color: rgb(236, 161, 50);
    border-radius: 20px;
    font-family: sans-serif;
}


nav {
    background-color: #1e64a2;
    text-align: right;
    padding: 25px;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin-right: 20%;
    padding-top: 1px;

}

nav li button {
    color: #00ffea;
    font-weight: bolder;
    background-color: #0c0c0d80;
    padding: 8px;
    font-family: sans-serif;
    height: 52px;
    width: 145px;
    font-size: 21px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid white;
}

nav li button:hover {
    background-color: rgb(148, 233, 88);
    color: #233647;
    border: 3px solid rgb(229, 99, 48);
}

#main {
    width: 82%;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #474e26;
    border-radius: 10px;

}


.info {
    width: 266px;
    margin: 3px auto;
    margin-top: 10%;
    font-family: ui-sans-serif;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(117deg, #ab7918e6, rgb(196 196 70));
    border: 4px solid white;
    color: rgb(104 39 39);
}

.info:hover {
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-45deg, #9b9393, #f5b549);
    border: 5px solid #e69b13;
    color: #334a5f;
    cursor: pointer;
    border-radius: 50px;
}

.image {
    margin-bottom: 20px;
    border: 4px solid #233647;

    border-radius: 100%;
    box-shadow: 7px 8px 9px 10px white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    object-fit: cover;
}

.name {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: -10px;
}

.email {
    font-family: sans-serif;
    font-size: 18px;
    margin-left: -13px;
}

#id{
    margin-left: -13px;
}

@media screen and (max-width: 600px) {
    #logo {
        width: 195px;
        height: 100px;
        top: 10px;
        margin-left: -9%;
    }

    button {
        margin-left: 60%;

    }
}

#load {

    margin-top: 50%;
    margin: 0 auto;
}


.loader {
    border: 16px solid #233647;
    border-top: 16px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}